body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #d08989;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 150px;
}

h1 {
  padding-left: 150px;
  color: white;
}
